apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
  labels:
    app: order
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: IMAGE_URI    # replaced dynamically
        ports:
        - containerPort: 8080
        env:
          - name: CATALOG_HOST
            value: "catalog"
          - name: CUSTOMER_HOST
            value: "customer"

